data/*/depths
data/*/rendered_depths
data/*/raw_images
data/*/undist_images
data/*/blended_images
data/*/geolabel
data/*/img_kpts
data/*/reg_feat
data/*/match_sets
download_data_*

*.pyc
.vscode/*
data_list